In [77]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from yahoo_fin import stock_info as si
from collections import deque
from fastai.tabular import add_datepart

import numpy as np
import pandas as pd
import random
import tensorflow as tf
import datetime

date_now = '2020-08-22'
enddatestr = datetime.datetime.strptime(date_now, "%Y-%m-%d").strftime("%m/%d/%Y")
df = si.get_data('TSLA', start_date = '01/01/2017', end_date = enddatestr, index_as_date = False)
add_datepart(df, 'date')

,open,high,low,close,adjclose,volume,ticker,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,214.860001,220.330002,210.960007,216.990005,216.990005,5923300,TSLA,2017,1,1,3,1,3,False,False,False,False,False,False,1483401600
1,214.750000,228.000000,214.309998,226.990005,226.990005,11213500,TSLA,2017,1,1,4,2,4,False,False,False,False,False,False,1483488000
2,226.419998,227.479996,221.949997,226.750000,226.750000,5911700,TSLA,2017,1,1,5,3,5,False,False,False,False,False,False,1483574400
3,226.929993,230.309998,225.449997,229.009995,229.009995,5527900,TSLA,2017,1,1,6,4,6,False,False,False,False,False,False,1483660800
4,228.970001,231.919998,228.000000,231.279999,231.279999,3979500,TSLA,2017,1,2,9,0,9,False,False,False,False,False,False,1483920000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1677.000000,1845.859985,1672.829956,1835.640015,1835.640015,20242300,TSLA,2020,8,34,17,0,230,False,False,False,False,False,False,1597622400
912,1898.989990,1923.900024,1845.109985,1887.089966,1887.089966,16474500,TSLA,2020,8,34,18,1,231,False,False,False,False,False,False,1597708800
913,1865.000000,1911.000000,1841.209961,1878.530029,1878.530029,12205300,TSLA,2020,8,34,19,2,232,False,False,False,False,False,False,1597795200
914,1860.680054,2021.989990,1857.060059,2001.829956,2001.829956,20611800,TSLA,2020,8,34,20,3,233,False,False,False,False,False,False,1597881600
915,2044.760010,2095.489990,2025.050049,2049.979980,2049.979980,21428800,TSLA,2020,8,34,21,4,234,False,False,False,False,False,False,1597968000

In [81]:
list = [0, 1, 2, 3, 4]
count = pd.Series(list)
ncount = pd.Series(list)
total = len(df)/5
print(total)
print(df.index)
dfrange = range(1, df.index.stop, 1)

for idx in dfrange:
    if(df['open'].loc[idx] < df['high'].loc[idx]):
        count[df['Dayofweek'].loc[idx]] = count[df['Dayofweek'].loc[idx]] + 1
    else:
        ncount[df['Dayofweek'].loc[idx]] = ncount[df['Dayofweek'].loc[idx]] + 1
        
percent = count/total *100
npercent = ncount/total *100

print('Num Green Days ')
print(count)
print('Num Red Days ')
print(ncount)
print('Percent')
print(percent)
print('Negative Percent')
print(npercent)

print(percent + npercent)

183.2
RangeIndex(start=0, stop=916, step=1)
Num Green Days
0    171
1    185
2    188
3    189
4    187
dtype: int64
Num Red Days
0    1
1    3
2    2
3    3
4    6
dtype: int64
Percent
0     93.340611
1    100.982533
2    102.620087
3    103.165939
4    102.074236
dtype: float64
Negative Percent
0    0.545852
1    1.637555
2    1.091703
3    1.637555
4    3.275109
dtype: float64
0     93.886463
1    102.620087
2    103.711790
3    104.803493
4    105.349345
dtype: float64